#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #0070f3;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transition: all 0.3s ease;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #0070f3, 0 0 5px #0070f3;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* áº¨n spinner */
#nprogress .spinner {
  display: none !important;
}