@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer utilities {
  .nav__link {
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-pink-600 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after: origin-right
  }
} */

@layer components {
  .nav__link {
    @apply relative text-base font-medium w-fit block;
  }

  .nav__link::after {
    content: '';
    @apply block absolute h-[3px] w-full bg-pink-600 scale-x-0 origin-right transition duration-300;
  }

  .nav__link:hover::after {
    @apply scale-x-100;
  }
}

/* Tùy biến scrollbar để loại bỏ mũi tên */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Không dùng ::-webkit-scrollbar-button để không hiển thị mũi tên */
::-webkit-scrollbar-button {
  display: none;
}